openapi: 3.0.0
info:
  title: Student API
  description: Student Demo API.
  version: 1.0.0
servers:
  - url: http://devapi.com
  - url: http://prodapi.com 
paths:
  /student:
      description: Student Resource
      get:
        description: Operation to fetch student
        parameters:
         - in: query
           name: studentname
           required: true
           schema:
             type: string
             example: Ajmal
        responses:
          200:
            description: Success Response
            content:
              application/json:
                schema:
                  type: array
                  items:
                    properties:
                      studentID:
                        type: integer
                        example: 3
                      studentName:
                        type: string
                        example: David
                      studentRemarks:
                        type: string
                        example: High Grade Student
      post:
        description: Add a new student
        requestBody:
          content:
           application/json:
            schema:
              type: object
              properties:
                    StudentID:
                      type: integer 
                      example: 3
                    StudentName:
                      type: string
                      example: David
                    StudentRemarks:
                      type: string
                      example: High Grade Student
        responses:
          201:
           description: Record Successfully Added
                    
                
